version: '3'
services:
    elasticsearch:
        image: elasticsearch:5.5.1-alpine
    kibana:
        image: kibana:5.5.1
    mailcatcher:
        image: schickling/mailcatcher
        ports:
            - 1080:1080
    mongodb:
        image: mongo:3
    mariadb:
        build: docker/mariadb/
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: application
#    prediction_io:
#        build: docker/prediction-io
#        tty: true
#        volumes:
#          - ./docker/prediction-io:/docker
#        ports:
#            - 7070:7070
#            - 8000:8000
    rabbitmq:
        image: rabbitmq:3.6.3-management
        environment:
          - RABBITMQ_DEFAULT_USER=root
          - RABBITMQ_DEFAULT_PASS=root
    redis:
        image: redis:3
    selenium_hub:
        image: selenium/hub:3.5.2
        ports:
            - 4444
    selenium_node_chrome:
        image: selenium/node-chrome:3.5.2
        depends_on:
            - selenium_hub
        environment:
            - HUB_PORT_4444_TCP_ADDR=selenium_hub
            - HUB_PORT_4444_TCP_PORT=4444
        expose:
            - 5555
    php:
        build: docker/php/
        environment:
            - ENVIRONMENT=DEV
            - BLACKFIRE_SERVER_ID=X
            - BLACKFIRE_SERVER_TOKEN=X
            - GITHUB_OAUTH_TOKEN=X
        volumes:
            - .:/var/www/html
            - ~/.gitconfig:/var/www/.gitconfig
            - ~/.gitignore_global:/var/www/.gitignore_global
            - ~/.ssh:/var/www/.ssh
        depends_on:
            - elasticsearch
            - mailcatcher
            - mongodb
            - mariadb
#            - prediction_io
            - rabbitmq
            - redis
            - selenium_hub
        dns:
            - 8.8.8.8
            - 8.8.4.4
        expose:
            - 9000
    nginx:
        build: docker/nginx/
        volumes:
            - .:/var/www/html
        depends_on:
            - php
        ports:
            - 80:80
            - 443:443