<div class="motd" style="padding-bottom: 0; margin-bottom: 0;">
    <strong>OAuth</strong>
    <p>
        Use your client ID and secret to retrieve an OAuth token and enter it in the "api key" field.
        {% if app.user and app.user.oAuthClients|length > 0 %}
            <br /><a href="{{ path('fos_oauth_server_token', { client_id: app.user.oAuthClients[0].id ~ '_' ~ app.user.oAuthClients[0].randomId, client_secret: app.user.oAuthClients[0].secret, grant_type: 'client_credentials' }) }}" target="_blank">Retrieve an Oauth Token for the current user</a>
        {% endif %}
    </p>
    {#<strong>WSSE</strong>#}
    {#<p>#}
        {#Use your API key to generate an X-WSSE header and add it to the request.#}
        {#{% if app.user and app.user.wsseKey %}#}
            {#<br /><small><small>{{ render(controller('WsseBundle:Wsse:generateHeader', { 'userName': app.user.username, 'key': app.user.wsseKey })) }}</small></small>#}
        {#{% endif %}#}
    {#</p>#}
</div>